* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feed-main .feed-main-container {
  width: 100%;
  margin: auto;
}

.feed-main-container .post-some-grid {
  display: grid;
  grid-template-columns: 70% 12.5% 15%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  max-width: 90%;
  margin: auto;
  margin-bottom: 0.5rem;
  background-color: #f8f8f8;
  border-radius: 15px;
  /* position: sticky;
  top: 104px;
  z-index: 100; */
}

.feed-main-container .post-some-grid.c-1 {
  display: grid;
  grid-template-columns: 10% 80%;
  grid-gap: 1rem;
}

.post-some-grid .display-pic {
  width: 56px;
  height: 56px;
  border-radius: 15px;
}
.post-some-grid .attach {
  justify-self: center;
}
.post-some-grid .btn-blue {
  justify-self: center;
  font-size: 14px;
  padding: 0.5rem 1.25rem;
  margin-top: 0rem;
  border-radius: 10px;
}
.post-some-grid .postForm {
  width: 100%;
}

.post-some-grid .postForm input {
  width: 100%;
  color: #5d5d5d;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  padding: 1.5rem 1.5rem;
  background-color: #f8f8f8;
  border: none;
  outline: none;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.post-some-grid .postForm textarea {
  width: 100%;
  color: #5d5d5d;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  padding: 1.5rem 0rem;
  background-color: #f8f8f8;
  border: none;
  outline: none;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.post-some-grid > *:nth-child(3) {
  justify-self: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  cursor: pointer;
}
.post-some-grid > *:nth-child(3) img {
  width: 75%;
}
.post-some-grid > *:nth-child(4) {
  justify-self: center;
  align-items: center;
}

/* Post */

.post {
  background-color: #fcfcfc;
  /* background-color: #f8f8f8; */
  border-radius: 15px 15px 0px 0px;
}

.post .post-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.post-heading .display-pic {
  width: 56px;
  height: 56px;
  border-radius: 15px;
  background: url('../img/dummyimage.jpg') no-repeat center center/cover;
}

.post-heading .flex {
  display: flex;
  align-items: center;
  line-height: 1.3rem;
}

/* .post-heading .flex .bold.bold-1 {
  margin-left: 1rem;
} */

.post-heading .resize {
  width: 5px;
  position: absolute;
  top: 25%;
  right: 45%;
}

.post-heading .three-dots {
  width: 40px;
  height: 40px;
  /* margin-right: 1rem; */
  position: relative;
  cursor: pointer;
}

.post-heading .three-dots:hover {
  background-color: #f2f2f2;
  border-radius: 15px;
  box-shadow: 0px -1px 3px #00000040;
}

.post-heading .three-dots:checked {
  background-color: #f2f2f2;
  border-radius: 15px;
  box-shadow: 0px -1px 3px #00000040;
}

.post-heading .no-post-dis {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #272727;
  background-color: #f2f2f2;
  box-shadow: 0px 3px 3px #00000040;
  border-radius: 0px 15px 15px 15px;
  padding: 1rem;
  position: absolute;
  top: 65%;
  right: -17%;
  z-index: 10;
}
.post-heading .no-post-dis li {
  /* padding: 0.3rem 0.5rem; */
  opacity: 0.7;
}

.post-heading .no-post-dis li:hover {
  opacity: 1;
}

.post-heading .no-post-dis hr {
  border-bottom: 1px solid #c9c9c9;
  opacity: 0.7;
  margin: 0.5rem 0;
}

.post .post-description {
  padding: 0 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-family: 1rem;
  color: #5d5d5d;
  /* text-align: justify; */
  white-space: pre-line;
}

.post .blog-url {
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  padding: 0 1.5rem;
  word-wrap: break-word;
}
.post .blog-url:hover {
  color: #fad300;
}

.d-2 {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  /* margin-left: 0.3rem; */
  color: #5d5d5d;
}
.d-3 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  /* margin-left: 0.3rem; */
  color: #5d5d5d;
}

.d-3 textarea {
  width: 90%;
  color: #272727;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 0rem;
}

.post-pic {
  width: 100%;
  margin: auto;
  height: 350px;
  border-radius: 15px;
  /* background-color: #7480ff; */
  position: relative;
  margin-top: 1.5rem;
}

.post-pic .flex {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #fcfcfc;
  position: absolute;
  top: 80%;
  border: 1px #fcfcfc solid;
  border-radius: 0px 0px 15px 15px;
  padding: 0rem 1rem;
}
.flex-des {
  width: 100%;
  height: 70px;
  background-color: #fcfcfc;
  border: 1px #fcfcfc solid;
  border-radius: 0px 0px 15px 15px;
  padding: 0rem 1rem;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}

.flex-des-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f8f8f8;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
}

.acknowledge-box {
  display: flex;
  justify-content: space-evenly;
  justify-self: auto;
  width: 92%;
  background-color: #ff9391;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 4px;
  font-size: 12px;
  align-self: center;
  cursor: pointer;
}
.acknowledge-tooltip {
  background-color: #f2f2f2;
  box-shadow: 0px 3px 3px #00000040;
  border-radius: 15px;
  padding: 10px;
  height: 35%;
  overflow-y: scroll;
}

.acknowledge-tooltip li {
  display: block;
  font-size: 1rem;
  color: #272727;
  padding: 0.35rem 0.75rem;
  opacity: 0.8;
}

.acknowledge-tooltip li:hover {
  cursor: pointer;
  opacity: 1;
}

.acknowledge-box img {
  height: 18px;
  width: 18px;
}

.acknowledged-box {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  width: 95%;
  margin: auto;
  border-bottom: 1px solid rgba(201, 201, 201, 0.18);
}

.acknowledged-box h3 {
  margin-right: 1rem;
  font-size: 0.9rem;
}

.acknowledged-avatars {
  display: flex;
  margin-left: 5px;
}

.acknowledged-avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 20%;
  margin-left: -4px;
  cursor: pointer;
  box-shadow: 0 0 0 4px #fff;
  align-items: center;
  display: flex;
  justify-content: center;
}

.acknowledged-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.acknowledged-count {
  background-color: #7480ff;
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 10px;
  z-index: 10;
  position: relative;
  bottom: -2px;
  right: 12px;
  color: #ffffff;
  cursor: pointer;
}

.ack-cross {
  opacity: 1;
  cursor: pointer;
}

.ack-cross img {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

.post-pic .pic-des-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.flex-des .pic-des-1 {
  display: flex;
  justify-content: flex-start;
  grid-gap: 1rem;
  align-items: center;
  position: relative;
}
.flex-des .pic-des-1 div:hover {
  border-bottom: 1px solid #fad300;
  cursor: pointer;
}

.post-pic .pic-des-1 .no-post-dis {
  display: none;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #272727;
  width: 100%;
  background-color: #f2f2f2;
  box-shadow: 0px 3px 3px #00000040;
  border-radius: 0px 15px 15px 15px;
  padding: 1rem;
  position: absolute;
  top: 100%;
  left: 70%;
  z-index: 10;
}

.post-pic .pic-des-1 .no-post-dis li {
  opacity: 0.7;
}
.post-pic .pic-des-1 .no-post-dis li img {
  vertical-align: middle;
  margin-right: 0.5rem;
}
.post-pic .pic-des-1 .no-post-dis li:hover {
  opacity: 1;
}

.post-pic .pic-des-1 .no-post-dis hr {
  border-bottom: 1px solid #c9c9c9;
  opacity: 0.5;
  margin: 0.5rem 0;
}

.post-pic .pic-des-1 .r-1,
.pic-des-1 .r-1 {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
  cursor: pointer;
  padding-right: 0.25rem;
}
.pic-des-1 .r-1.note {
  filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(214deg) brightness(90%)
    contrast(85%);
}

.pic-des-1 .r-1.unnote {
  filter: invert(72%) sepia(55%) saturate(725%) hue-rotate(5deg)
    brightness(101%) contrast(105%);
}

.post-pic .pic-des-1 .d-1 {
  cursor: pointer;
}
.post-pic .pic-des-1 .r-1.r-2 {
  width: 23%;
  vertical-align: middle;
}

.post-pic .flex .des-right,
.flex-des .des-right {
  justify-self: flex-end;
  display: flex;
  grid-gap: 1rem;
}
/* .right {
  background-color: #f9f6f2;
  width: 100%;
}
.right-hide {
  width: 0px;
}
.note-slide-button {
  position: fixed;
  right: 0px;
} */
.note-slide-button {
  display: none;
}

.right .note-slide {
  position: sticky;
  top: 104px;
  overflow: scroll;
}

/* Right Join Group */

#join-grp {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 1rem; */
}

#join-grp .note-people-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.note-head-btn a {
  background-color: transparent;
  outline: none;
  border: none;
  color: #7480ff;
  font-size: 12px;
}
.note-head-btn a:hover {
  border-bottom: 1px solid #7480ff;
}
.note-head-btn .note-line {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #7480ff;
  font-size: 0.8rem;
}

.join-grp-flex {
  display: grid;
  grid-template-columns: 15% 55% 10% 10%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.join-grp-flex.notepost {
  background-color: #f9f6f2;
  border-radius: 10px;
  grid-template-columns: 15% 65% 10%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  max-width: 325px;
}

.join-grp-flex.notepost .flex-right P {
  word-break: break-word;
}

.join-grp-flex .display-pic {
  width: 46px;
  height: 46px;
  border-radius: 15px;
  background: url('../images/elegacy-events---logo-design_1x.png') no-repeat
    center center/cover;
}

#join-grp .join-grp-flex .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#join-grp .join-grp-flex .flex .f-1 {
  margin-left: 0.3rem;
}

#join-grp .join-grp-flex .flex-right {
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
  justify-content: flex-start;
  margin-right: 0.5rem;
}
.join-grp-flex .display-pic-1 {
  width: 46px;
  height: 46px;
  border-radius: 15px;
  background: url('../img/dummyimage.jpg') no-repeat center center/cover;
}
.join-grp-flex .display-pic-3 {
  width: 46px;
  height: 46px;
  border-radius: 15px;
  background: url('../images/rekha-thapar.svg') no-repeat center center/cover;
}

/* Comment */

.comment-box {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 1.5rem;
  top: 0%;
}

.comment-box .cmt-1 {
  padding: 0rem 1rem;
  align-self: center;
}
.comment-box .cmt-1.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-1 {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  margin-left: 0.25rem;
  color: #5d5d5d;
}
.comment-box .cmt-1.list .d-1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #272727;
  margin: 0px;
  cursor: pointer;
}
.comment-box .cmt-1.list .d-2 {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}
.comment-box .cmt-1.list .d-3 {
  font-size: 12px;
}

.comment-box .cmt-1 input {
  width: 90%;
  color: #5d5d5d;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
}

.edit-icon {
  margin: 4px;
  cursor: pointer;
  opacity: 0.8;
}

.edit-icon:hover {
  opacity: 1;
}

.close-icon {
  margin: 14px 4px;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
}

.close-icon:hover {
  opacity: 1;
}

.comment-box .btn-blue {
  width: 20px;
  height: 30px;
  padding: 0.5rem 1rem;
  margin: auto;
  position: relative;
  vertical-align: middle;
  border-radius: 10px;
  float: right;
}
.comment-box .btn-blue.btn-red {
  background-color: #ff9391;
}

.comment-box .btn-blue img {
  position: absolute;
  top: 25%;
  left: 32%;
  width: 35%;
}

.post-audio {
  object-fit: cover;
  width: 75%;
  margin: auto;
  margin-top: 1rem;
  display: block;
}
.Hori {
  max-width: 90%;
  margin: auto;
  opacity: 0.18;
}

.load {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
}
.loadmore {
  background-color: #7480ff;
  color: #fff;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  padding: 0.25rem 0.75rem;
  /* border: 2px solid #7480ff; */
  border-radius: 10px;
  outline: none;
}

.comments .load {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin: 1rem 0rem;
}
